{% extends "include/main.html" %}
{% block content %}

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <h2>List Of Medicines</h2>
        </div>
        <div class="card-body">
            <table id="datatablesSimple"> 
                <tr>
                    <th>Numéro Inscription</th>
                    <td>{{pharmaci.Numéro_Inscription}}</td>
                </tr>
                <tr>
                    <th>Pharmaci</th>
                    <td>{{pharmaci.Nom_Ph}}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{pharmaci.Tel}}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{pharmaci.Adresse}}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}
