{% extends "include/main.html" %}
{% block title %} Modifier Medicines {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <h2>Modifier Medicines</h2>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{Edit_Productform|crispy}}
            <button type="submit" class="btn btn-success" style="margin-top:30px ;">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}